@import url('assets/fonts/fonts.css');

body {
  margin: 0;
}

.enva-wrapper {
  background-color: #000;
}

.enva-container {
  max-width: 1450px;
  margin: 0 auto;
  background-color: #000;
  width: 100%;
  overflow: hidden;
}

.enva-header-top2 {
  position:absolute;
  top:0;
  right: 0;
  width: 900px; height: 1045px; background-color: #000; background-image:url(assets/imgs/bg2.gif); background-size: 1400px; background-position: -180px -224px; background-repeat: no-repeat;
}
.enva-header-hand {
  width: 100%; height: 100%; background-image:url(assets/imgs/hand_2.png); background-position: -16px 100px; background-repeat: no-repeat; background-size: 1075px;
}


.enva-container-inner {
}

.enva-container * {
  font-family: "VTB Group UI", serif;
  box-sizing: border-box;
}

.enva-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.enva-header-img-wrapper {
  position: absolute;
}

.enva-header-img-wrapper-pulse {
  right: -230px;
  top: -170px;
}

.enva-header-img-pulse {
  width:1210px;
}

.enva-header-img-wrapper-hand {
  right: -180px;
  top: 113px;
}

.enva-header-img-hand {
  width: 800px;
}

.enva-header__shadow {
  display: none;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  position: absolute;
  top: 312px;
  z-index: 0;
  width: 100%;
  height: 99px;
  z-index: 1;
}

.enva-header__img {
  margin: 20px 17px 0;
  z-index: 2;
}

.enva-header-content {
  margin: 118px 117px 0;
  color: white;
}

.enva-header-content__header {
  max-width: 687px;
  font-family: 'CoFo Kak', serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 64px;
  text-transform: uppercase;
  margin: 0;
}

.enva-header-content__description {
  margin: 36px 0;
  width: 360px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.enva-header-buttons,
.enva-footer-buttons {
  display: flex;
  gap: 36px;
}

.enva-header-buttons__button,
.enva-footer-buttons__button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 32px;
  font-size: 24px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 106px;
  width: 233px;
  text-decoration: none;
  color: black;
}

.enva-img__arrow {
  margin-left: auto;
}

.enva-main {
  z-index: 3;
  position: relative;
  margin: 416px auto 0;
  background: linear-gradient(69deg, #02C 39.77%, #819CFB 100.46%);
  border-radius: 50px;
  width: 98%;
}

.enva-main__header {
  font-size: 40px;
  font-family: 'CoFo Kak', serif;
  text-transform: uppercase;
  padding: 80px 0 64px;
  margin: 0;
  color: white;
  text-align: center;
}


.enva-main-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1192px;
  margin: 0 auto;
  gap: 12px;
}

.enva-main-content__item {
  border-radius: 50px;
  padding: 40px;
  background: linear-gradient(0deg, #0A0748 0%, #0A0748 100%), linear-gradient(228deg, #D2AAFA -54.25%, #7A29CC 56.22%), #000;
  color: white;
  max-width: 590px;
  width: 100%;
}

.enva-main-content__item-header {
  font-family: 'CoFo Kak', serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  margin: 0;
}

.enva-main-content__description {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.enva-main-content__img {
  margin: 56px 0;
}

.enva-main-content__item:nth-of-type(2) .enva-main-content__img {
  margin: 43px 0;
}

.enva-main-content__item:nth-of-type(2) .enva-main-content__description {
  margin-top: -7px;
}

.enva-main-content__item:nth-of-type(4) .enva-main-content__item-header {
  margin-top: 20px;
}

.enva-main-content__item:nth-of-type(4) .enva-main-content__img {
  margin-top: 75px;
  margin-bottom: 25px;
}

.enva-main-footer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 64px;
  padding-bottom: 80px;
}

.enva-footer-qr-container {
  display: flex;
  justify-content: center;
  gap: 128px;
}

.enva-main-footer__header {
  margin: 0;
  color: white;
  font-family: 'CoFo Kak', serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  text-align: center;
}

.enva-footer {
  display: flex;
  justify-content: space-between;
  color: rgb(128,128,128);
  margin: 40px 16px 0;
  padding-bottom: 40px;
}

.enva-footer-buttons {
  margin-top: 32px;
  justify-content: center;
}

.enva-footer__button {
  background: none;
  border: none;
  color: rgb(128,128,128);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
}

.enva-footer__copyright {
  font-size: 16px;
  font-weight: 400;
}


.enva-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-family: "VTB Group UI", serif;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.enva-modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 640px;
  width: 100%;
  padding: 16px 16px 64px;
  background: #141618;
  border-radius: 20px;
}

.enva-modal-content__close {
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

.enva-modal-content__title {
  align-self: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  max-width: 470px;
  text-align: center;
}

.enva-modal-content__mail {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 12px;
  background-color: #1F2024;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 37px;
  color: white;
  width: max-content;
}

@media screen and (max-width: 1440px){
  .enva-header-img-pulse {
    width:1210px;
    min-width: 1210px;
  }

  .enva-header-top2 {
    top: 520px;
    width: 100%; background-size: 1400px; background-position: center -232px;
  }
  .enva-header-hand {
      background-position: center 100px;
  }

  .enva-header-img-wrapper-pulse {
    top: 338px;
    right: -14px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .enva-header-img-wrapper-hand {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 625px;
  }

  .enva-header-img-hand {
    width: 800px;
  }

  .enva-header-content {
    margin-top: 121px;
    margin-left: 0;
  }

  .enva-header__shadow {
    display: block;
    top: 488px;
  }

  .enva-main {
    margin-top: 904px;
  }

  .enva-container {
    background-position-x: center;
    background-position-y: 265px;
    background-size: 1340px;
  }
  
  .enva-container-inner {
    background-size: 1120px;
    background-position-x: center;
    background-position-y: 618px;
  }
}

@media screen and (max-width: 1240px) {
  .enva-main-content {
    justify-content: center;
  }

  .enva-container {
    background-position: calc(100vw - 1320px) calc(100% - 3524px);
    background-size: 1340px;
  }
  
  .enva-container-inner {
    background-position: calc(100% - 95px) 650px;
  }
}

@media screen and (max-width: 1024px) {
  .enva-container {
    background-position: calc(100vw - 1260px) calc(100% - 3280px);
  }
  
  .enva-container-inner {
    background-position: calc(100% - 45px) 650px;
  }

  .enva-main-footer {
    gap: 0;
  }

  .enva-footer-qr-container {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .enva-main-footer__br-l {
    display: none;
  }

  .enva-main-footer__header {
    max-width: 625px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .enva-container {
    background-position: calc(100vw - 1110px) calc(100% - 3330px);
  }
  
  .enva-container-inner {
    background-position: calc(100% + 105px) 650px;
  }
}

@media screen and (max-width: 711px) {
  .enva-header-content__header {
    font-size: 8vw;
    line-height: 8vw;
  }

  .enva-main-content__img {
    width: 100%;
  }

  .enva-main {
    margin-top: 689px;
  }

  .enva-main__header {
    font-size: 32px;
  }

  .enva-modal-content {
    width: calc(100% - 62px);
  }

  .enva-header-top2 {
    top: 500px;
  }
  .enva-header-hand {
      background-size: 800px;
  }

  .enva-header__shadow {
    top: 441px;
  }
}

@media screen and (max-width: 709px) {
  .enva-header-img-wrapper-hand {
    right: -66px;
  }

  .enva-header-img-wrapper-pulse {
    top: 321px;
    right: 14px;
}

  .enva-header-img-hand {
    width: 550px;
  }

  .enva-container {
    background-position: calc(100vw - 970px) 230px;
    background-size: 1340px;
  }

  .enva-container-inner {
    background-size: 100%;
    background-position: 111px 564px;
  }
}

@media screen and (max-width: 620px) {
  .enva-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
    gap: 48px;
  }

  .enva-footer__button,
  .enva-footer__copyright {
    font-size: 18px;
  }

  .enva-main-footer__header {
    padding: 0 16px;
    font-size: 31px;
  }

  .enva-main-content {
    padding: 0 16px;
  }
}

@media screen and (max-width: 620px) {
  .enva-header-top2 {
    top: 470px;
  }
}

@media screen and (max-width: 582px) {
  .enva-main-content__img {
    margin: 24px 0;
  }
  .enva-main-content__item:nth-of-type(4) .enva-main-content__img {
    margin: 24px 0 0;
  }

  .enva-main-content__item {
    padding: 24px;
  }

  .enva-footer-buttons {
    padding: 0 16px;
  }

  .enva-main-footer__header {
    font-size: 30px;
  }
}

@media screen and (max-width: 483px) {
  .enva-container {
    background-position: calc(100vw - 970px) 280px;
    background-size: 1400px 
  }

  .enva-container-inner {
    background-position: 61px 640px;
  }

  .enva-header-top2 {
    top: 380px;
  }

  .enva-main {
    margin-top: 689px;
  }

  .enva-header-content {
    margin-right: 0;
    margin-top: 64px;
  }
  .enva-header__img {
    margin-left: 0;
    padding: 0 16px;
  }

  .enva-header-buttons,
  .enva-footer-buttons {
    gap: 16px;
  }

  .enva-header-img-wrapper-hand {
    top: 537px;
  }

  .enva-header-img-wrapper-pulse {
    top: 242px;
  }

  .enva-header-buttons__button,
  .enva-footer-buttons__button {
    padding: 8px 16px;
    font-size: 16px;
  }
  
  .enva-main__header {
    padding: 40px;
  }

  .enva-main-footer__header {
    font-size: 20px;
    line-height: 24px;
    max-width: 391px;
    padding: 0 16px;
  }

  .enva-main-content__item-header {
    font-size: 20px;
    line-height: 24px;
  }

  .enva-header__shadow {
    top: 336px;
  }
}

@media screen and (max-width: 428px) {
  .enva-main {
    margin-top: 689px;
  }

  .enva-header-img-wrapper-pulse {
    right: 6px;
  }

  .enva-header-img-wrapper-hand {
    right: -103px;
  }
}

@media screen and (max-width: 391px) {
  .enva-header-content__description {
    width: auto;
  }

  .enva-header__logo {
    width: 204px;
    height: 28px;
  }

  .enva-main-content__item-header {
    font-size: 19px;
  }

  .enva-header__img {
    margin-right: 0;
    padding: 0 16px;
  }

  .enva-main-footer__header {
    font-size: 18px;
  }

  .enva-header-top2 {
    top: 350px;
  }
}